{% extends "base.html" %}

{% block content %}
<ol>
  <li style="display: block; width: 20%; height: 30px; margin: 10px; border-radius: 30px; background-color: lightblue; border: solid black 2px; text-align: center;"><a href="/shopping_list">Shopping List</a></li>
  <li style="display: block; width: 20%; height: 30px; margin: 10px; border-radius: 30px; background-color: lightblue; border: solid black 2px; text-align: center;"><a href="/rot13">Rot13</a></li>
  <li style="display: block; width: 20%; height: 30px; margin: 10px; border-radius: 30px; background-color: lightblue; border: solid black 2px; text-align: center;"><a href="/fizzbuzz">FizzBuzz</a></li>
  <li style="display: block; width: 20%; height: 30px; margin: 10px; border-radius: 30px; background-color: lightblue; border: solid black 2px; text-align: center;"><a href="/signup">SignUp</a></li>
<ol>
{% endblock %}