%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%normal-font {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

%headings-font {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}